.maindiv{
 text-align: center;
 margin: 3rem 4rem;
 
}

.imgdiv{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
}
.span{
 color: rgb(216, 7, 216);
}
.btn{
 padding: 6px 2rem;
 border-radius: 5px;
 background-color:rgb(216, 7, 216) ;
 color: white;
 border: none;
 outline: none;
}