.secdiv{
 display: flex;
 justify-content: center;
 gap: 5rem;
}
.mainnav{
 position: sticky;
 top: 0;
 z-index: 10;
 box-shadow: 1px 2px 4px rgb(67, 67, 67);
}
.btn{
 background-color: black;
 color: white;
}
.btn:hover{
 background-color: black;
 color: white;
}
.darkbtn{
 padding: 5px 10px;
 border-radius: 5px;
 border: none;
 background-color: rgb(237, 54, 54);
 color: white;
}
@media(max-width:720px){
 .secdiv{
  display: block;
  justify-content: center;
  gap: 5rem;
 }
}

